/*base style*/
*
{
    box-sizing: border-box;
}
body{
font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1
{
    margin-bottom: 30px;
    text-align: center;
}

.row
{
    border: 1px solid black; 
    width: 90%;
    padding: 10px; 
    margin: 20px;
}
p
{
background-colour: grey;
}
#ch{
    background-colour: #ff7f50;
    border: 1px solid black; 
    float: left;
    }
#be{
    background-colour: #d2691e;
    border: 1px solid black; 
    float: left;
    colour: white;    
}
#su{
    background-colour: #deb887;
    border: 1px solid black; 
    float: left;
 }
