*{
  box-sizing: border_box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Comic Sans MS,Arial,sans-serif;
}
h1 {
  width: 70px;
  height: 300px;
  text-align:center;
  align-content: center;
  font-colour: #000000;
  font-size: 75%;
}
.row{
background-colour: grey;
padding: 30px;
border: 2px solid black;
width: 300px;
margin-top: 50px;
}

