*
{
    box-sizing: border-box;
}
body{
font-family: MsComicSans Arial;
}

h1
{
    margin-bottom: 30px;
    text-align: center;
}

.row
{
    border: 1px solid black; 
    width: 90%;
    padding: 10px; 
}
p{
background-colour: grey;
}
